Attention/seminar/wandb/*
Attention/summarizer/model_without_pretrain_embs.pt 
Attention/summarizer/model_with_pretrain_embs.pt   
Pytorch_NN/homework/CIFAR10/test/cifar-10-python.tar.gz
Self_Supervision/prototipical_network/model.pt
Self_Supervision/simclr/best.pt
Self_Supervision/simclr/last.pt
Pytorch_NN_tests
Attention
RL_base
Detection